/* style.css */

/* 전반적인 스타일링 */
body {
  margin: 0;
  padding: 0;
}

#header {
  height: 10vh;
  display: flex;
}

#container {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
}

#container > #index {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divider {
  width: 1px; /* 구분선의 너비를 1px로 설정 */
  height: 80vh;
  background: #A5A5A5;

  position: absolute;

}

#container > #content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#footer {
  height: 10vh;
  display: flex;
}

li {
  color: #353535;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* 각 열의 스타일링 */
#index,
#content {
  flex: 1;
}

h1 {
  color: #4b4b4b;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  color: #4b4b4b;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  color: #919191;
  text-align: justify;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* 각 섹션의 스타일링 */
#header,
#footer {
  background-color: #333;
  color: white;
  text-align: center;
}

#index {
  background-color: #f0f0f0;
}

#content {
  background-color: #e0e0e0;
}
