* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh; /* 화면 크기에 딱 맞도록 설정 */
  display: flex;
  padding: 5rem;
  flex-direction: row;
  justify-content: center;
  background-color: #e8e8e8;
}

/*! 구분선 기준 좌측 */
#index {
  width: 150px; /* 임의값 */
  height: 100%; /* 화면 크기에 딱 맞도록 설정 */
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

#index * {
  display: flex;
  flex-direction: column; /* li가 세로로 나열되도록 설정 */
}

#index li {
  margin: 10px;
  color: #353535;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px dotted #353535;
  flex-grow: 1; /* 남은 높이를 차지하도록 설정 */
}

/*! 구분선 기준 우측 */
#container {
  width: 500px; /* 요구사항 */
  height: 100%; /* 화면 크기에 딱 맞도록 설정 */
  display: flex;
  flex-direction: column;
  border-left: 1px solid #a5a5a5;
  padding-left: 1rem;
}

#container * {
  display: flex;
}

#container h1 {
  color: #4b4b4b;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content-introduce {
  flex-direction: column;
}

.introduce {
  margin-top: 2rem;
  color: #919191;
  text-align: justify;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#container h2 {
  margin-top: 3rem;
  color: #4b4b4b;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content-forte {
  flex-direction: column;
}

.forte {
  margin-top: 1rem;
  color: #919191;
  text-align: justify;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.searchForm {
  flex-direction: column;
}

.searchName {
  height: 32px;
  border-radius: 10px;
  background: #f3f3f3;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-indent: 1rem;
}

.btn-Show {
  height: 64px;
  border-radius: 10px;
  background: rgba(145, 145, 145, 0.3);
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
