/* src/Component/Container/Content/SearchForm/SearchForm.css */

#searchForm, #searchForm * {
  display: flex;
  flex-direction: column;
}

.searchName {
  /* Layout */
  width: 500px;
  height: 32px;
  flex-shrink: 0;

  /* Style */
  border-radius: 10px;
  background: #f3f3f3;

  /* Typography */
  color: #919191;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  /* Spacing */
  margin-top: 3rem;
}

.showButton {
  /* Layout */
  width: 500px;
  height: 64px;
  flex-shrink: 0;

  /* Style */
  border-radius: 10px;
  background: rgba(145, 145, 145, 0.3);

  /* Typography */
  color: #f3f3f3;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  /* Spacing */
  margin-top: 1rem;
}
