/* src/Component/Container/Container.css */

#container {
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

#index {
  width: 160px;
}

#content {
  width: 500px;
}