/* src/Component/Container/Content/Content.css */

/* 공통 적용 */
.content-introduce, .content-forte{
  flex-direction: column;
}

h1,
h2 {
  width: 500px;
  color: #4b4b4b;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.introduce,
.forte {
  width: 500px;
  color: #919191;
  text-align: justify;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* 개별 적용 */
h1 {
  font-size: 32px;
  margin-bottom: 3rem;
}
h2 {
  font-size: 24px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
